services:
  sleep-tracker:
    image: mpoc/sleep-tracker:latest
    container_name: sleep-tracker
    restart: always
    ports:
      - 8002:8000
    env_file: .env
    volumes:
      - ./secret:/usr/src/sleep-tracker/secret
      - ./data:/usr/src/sleep-tracker/data
