doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        link(rel="manifest" href="/manifest.webmanifest")
        title Sleep
        script(type="module" src="/js/sleep.js")
    body
        table.table.table-responsive.table-borderless
            tbody
                tr
                    td
                        button#logSleepButton.btn.btn-primary.btn-lg(type="button" disabled) Log sleep entry
                tr
                    td
                        button#replaceLastSleepButton.btn.btn-primary.btn-lg(type="button" disabled) Replace last sleep entry
                tr
                    td
                        #text Getting last sleep log...
        include includes/bootstrap-js.pug
