doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        link(rel="manifest" href="/manifest.webmanifest")
        title Sleep
        script(type="module" src="/js/sleep.js")
    body(data-bs-theme="dark")
        table.table.table-responsive.table-borderless
            tbody
                tr
                    td
                        button#logSleepButton.btn.btn-success.btn-lg(type="button" disabled) Log sleep entry
                tr
                    td
                        button#replaceConfirmationButton.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#confirmationModal' disabled) Replace last sleep entry
                        include includes/replace-confirmation-modal.pug
                tr
                    td
                        #text Getting last sleep log...
        include includes/bootstrap-js.pug
