doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        title Sleep
        script(src="/js/sleep.js")
    body
        #text
        include includes/bootstrap-js.pug
