doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        link(rel="manifest" href="/manifest.webmanifest")
        title Sleep
        script(src="/js/sleep.js")
    body
        #text Logging sleep...
        include includes/bootstrap-js.pug
